
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    margin: 0;
    background: url('mem5.jpeg') no-repeat center center fixed;    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #f0f0f0;
}
.heading {
    margin-top: 20px; }

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px; 
    width: 120px; 
    margin: 5px;
    perspective: 1000px;
    border-radius: 10px; 
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
   
}


.card .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card .card-front,
.card .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card .card-front {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-back {
    background-size: cover;
    transform: rotateY(180deg);
}

.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: -10px;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

